= render 'shared/breadcrumbs', data: nil
.container
  .row
    .col-lg-12.about
      %h3 About Us
      %p
        A software solutions company incorporated in Singapore building innovative web applications working exclusively on
        %span.text-danger Ruby On Rails
        Framework.
      %p
        We partner with our clients from concept and design to implementation and maintenance. We firmly believe that
        %span.text-danger Programming is An Art
        and have a unique organizational process focused on building solutions to facilitate high performance, scalability, and high-standard code quality.
      %p
        We are fanatic about Test Coverage, Continuous Integration and code smell. Timelines are important but code quality is far more important. Working code is fine but we also stress test our apps for concurrency and load.
        %a{href: "http://codeclimate.com", target: '_blank'} CodeClimate,
        %a{href: "http://circleci.com", target: '_blank'} CircleCi,
        %a{href: "http://github.com", target: '_blank'} Github,
        %a{href: "http://pivotaltracker.com", target: '_blank'} Pivotal Tracker,
        and
        %a{href: "http://trello.com", target: '_blank'} Trello
        are some of the tools we use to ensure our clients are always happy!
.gray-box
  .container
    .row
      .text-center.feature-head
        %h1 Meet Our team
        %p We work with forward thinking clients to create beautiful, honest and amazing things that bring positive results.

      - @team_members.each do |member|
        .col-lg-4.col-md-4.col-sm-4.col-xs-12
          .person.text-center
            - image = member[:image].blank? ? "team/placeholder.gif" : "team/#{member[:image]}"
            %a{href: '#'}
              = image_tag image, alt: member[:name], title: member[:name], 'data-toggle'=>"modal", 'data-target'=>"#{member[:id]}-modal"
          .person-info.text-center
            %h4= link_to member[:name], '#', 'data-toggle'=>"modal", 'data-target'=>"#{member[:id]}-modal"
            %p.text-muted #{member[:title]}
          .text-center
            = render 'member_data', member: member

- @team_members.each do |member|
  .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "#{member[:name]}", role: "dialog", tabindex: "-1", id: "#{member[:id]}-modal"}
    .modal-dialog
      .modal-content
        .modal-body.well
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          .container.text-center
            .person.text-center
              - image = member[:image].blank? ? "team/placeholder.gif" : "team/#{member[:image]}"
              = image_tag image, alt: member[:name], title: member[:name]
            .person-info.text-center
              %h4
                = member[:name]
              %p.text-muted #{member[:title]}
            = render 'member_data', member: member
          .container
            %p
              = raw member[:description]

.container
  .row
    .text-center.feature-head
      %h1= link_to "View our Client Portfolio", 'portfolio'
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      %p

:javascript
  RevSlide.initRevolutionSlider();

  $(window).load(function() {
      $('[data-zlname = reverse-effect]').mateHover({
          position: 'y-reverse',
          overlayStyle: 'rolling',
          overlayBg: '#fff',
          overlayOpacity: 0.7,
          overlayEasing: 'easeOutCirc',
          rollingPosition: 'top',
          popupEasing: 'easeOutBack',
          popup2Easing: 'easeOutBack'
      });
  });

  $(window).load(function() {
      $('.flexslider').flexslider({
          animation: "slide", //slide or swing
          slideshow: false, //automatic slideshow
          reverse: false,
          start: function(slider) {
              $('body').removeClass('loading');
          }
      });
  });

  $(window).load(function() {
    image_slide();
  });


  //    fancybox
  //jQuery(".fancybox").fancybox();
